html {
    display: flex;
    margin: auto;
    justify-content: center;
}

body {
    background-image: url(../media/background.png);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 140vh;
}

#display {
    padding: 5vh;
    width: 100%;
    position: relative;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#messageBoard {
    width: 90%;
    height: 30vh;
    position: absolute;
    z-index: -5;
}

#display article {
    padding: 5vh;
    position: relative;
    font-size: 4vh;
}

.textBox {
    background-color: brown;
    color: yellow;
    font-family: 'Londrina Solid', sans-serif;
    font-size: 3vh;
    text-align: center;
    padding: 1vh;
}

.btn-custom {
    background-color: brown;
    color: yellow;
    font-family: 'Londrina Solid', sans-serif;
    font-size: 3vh;
    text-align: center;
    padding: 1vh;
    z-index: 10;
    position: absolute;
    box-shadow: none;
}

.btn-custom:hover {
    background-color: yellow;
    color: brown;
}

.btn-custom:focus {
    box-shadow: none;
}


#time {
    text-align: center;
    bottom: 0;
    position: absolute;
}
#barrels {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 140vh;
    height: 40vh;
    padding: 0 5% 5%;
    position: relative;
}

.answerBtn {
    width: 24vh;
    height: 32vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vh;

}

#barrel1 {
    left:5vh;
}

#barrel2 {
    left: 40vh;
}

#barrel3 {
    right: 40vh;
}

#barrel4 {
    right:5vh;
}

.barrel {
    width: 100%;
    position: absolute;
}

.answerBtn p {
    position: absolute
}

#monkey {
    width: 80%;
    position: absolute;
    z-index: -10;
    transition: all 750ms;
}

.up {
    transform: translate(0, -16vh);
}

.fly {
    transform: translate(0, -100vh)
}
@media screen and (max-width: 140vh) {
    body, #barrels {
        width: 50vh;
    }

    #barrels {
        height: 60vh;
    }
    .answerBtn {
        width: 12vh;
        height: 16vh;
    }
    .up {
        transform: translate(0, -8vh);
    }

    #barrel1 {
        left: 8vh;
        top: 8vh;
    }

    #barrel2 {
        left: auto;
        right: 8vh;
        top: 8vh;
    }

    #barrel3 {
        left: 8vh;
        bottom: 5vh;
        right: auto;
    }

    #barrel4 {
        right: 8vh;
        bottom: 5vh;
    }
}

.show {
    display: flex;
}

.hide {
    display: none;
}
#playAgain {
    align-self: center;
    top: 2vh;
}
#scores {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    justify-items: space-between;
}
#reset {
    align-self: center;
    bottom: 2vh
}
.scoreBox {
    align-self: center;
    font-size: medium;
}